github "ReactiveX/RxSwift" ~> 3.0
github "mac-cain13/R.swift.Library" ~> 3.0
github "DianQK/RxExtensions" "master"
github "RxSwiftCommunity/RxDataSources" ~> 1.0
github "jdg/MBProgressHUD" ~> 1.0
github "SnapKit/SnapKit" ~> 3.0
